.fundo-azul {
  background-color: #0093E9;
}

.fundo-laranja {
  background-color:  #fdbb2d;
}

.fundo-laranja-escuro {
  background-color: orangered;
}

.fundo-azul-escuro {
  background-color: #0062ff;
}

.texto-branco {
  color: aliceblue;
}


body {
  background-color: #0093E9;

}

.titulo {
  color: aliceblue;
  padding: 10PX;
  font-size: 50px;
}

.main-cl {
  margin-top: 80px;
}

.livros {
  height: 256px;
  width: 180px;
  margin: 5px;
}

.botão-vermais {
  overflow: hidden;
}

.Categoria-Academicos {
  overflow: hidden;
}

.display{
  display: inline-block;
}

.footer {
  text-align: left;
  /* height: 300px; */
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: block;
  }
}


.creditos {
  text-align: center;
  height: 200px;
  display: none;
}

@media screen and (min-width: 1024px) {
  .creditos {
    display: block;
  }
}


.footer-small {
  text-align: left;  
  display: none;  
}

@media screen and (max-width: 768px) {
  .footer-small {
    display: block;
    height: 450px;
  }
}


.creditos-small {
  text-align: center;
  height: 100px;
  display: none;
}

@media screen and (max-width: 768px) {
  .creditos-small {
    display: block;
  }
}



.img-footer-small{
  height: 100px;
  display: none;
}

@media screen and (max-width: 768px) {
  .img-footer-small {
    display: block;
  }
}




.texto-creditos {
  color: white;
}

.aviso-cookies {
  position: fixed;
  margin-top: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.589);
  width: 100%;

}

@media screen and (max-width: 768px) {
  .aviso-cookies {
    margin-top: 200px;
    height: 300px;
  }
}



.texto-cookies {
  color: white;
  font-size: 30px;
  margin-left: 10px;
}

.link-politica {
  color: yellow;
}

.botao-fechar-cookies {
  margin-left: 10px;
}

.hide {
  display: none;
}

.img-termos {
  margin-bottom: 20px;
  width: 80%;
  border-radius: 50px
}

.accordion-button {
  height: 200px;
}

.seta-sobe {
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 80px;
  height: 80px;
  background-color: rgba(7, 155, 234, 0.7);
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  line-height: 75px;
  color: #fff;
  display: none;

}

.seta-sobe:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
}

.tamanho-input {
  width: 80%;
}

.tamanho-card{
  width: 50%;
}




#imagem-carousel {
  width: 100%;
}

